:host {
  display: block;
}

.bsc-footer {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bsc-footer--so-voltar {
  background-color: var(--Neutral-brad-color-neutral-0, #fff);
}
